@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #192440;
    --secondary-color: #00ffad;
    --tertiary-color: #292b2c;
    --quaternary-color: #ffffff;
}

html {
    font-size: 10px;
    font-family: Ubuntu, sans-serif;
    line-height: 1.5;
}

/* Write your code below */
#banner{
    background-image:url("./images/banner-bg-image.jpg");
    width: 100%;
    height: 600px;
    background-size: cover;
    
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
header img{
  max-width: 80px;
}

.font-weight-bold {
  color:  var(--quaternary-color);
}
.font-weight-light {
    text-decoration: none;
    color: var(--quaternary-color);
    font-size: 36px;
  }
  .btn-secondary {
    background: var(--secondary-color);
    color: var(--primary-color);
}
 /* button{
    text-align: center;
    border: 2px solid transparent;
    padding: 19.2px 48px;
    margin: 38.4px 0;
    font-size: 25.6px;
    border-radius: 35.2px;
    line-height: 1.5;
    cursor: pointer;
} */
.btn{
    text-align: center;
    border: 2px solid transparent;
    padding: 1.2rem 3rem;
    margin: 2.4rem 0;
    font-size: 1.6rem;
    border-radius: 2.2rem;
    line-height: 1.25;
    cursor: pointer;
}
.protection h2{
  color: var(--tertiary-color);
  text-align: center;
  margin: 40px auto ;
}
.cards{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.features{
margin-top: 100px;
}
.feature-1-wrapper{
  background-image: linear-gradient(to bottom right,#ffffff 50%,#00FFAD 50%);
}
.feature-2-wrapper{
  background-color: var(--secondary-color);
  height: 390px;
}
.feature{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.font-weight-bold{
  color: var(--quaternary-color);
}
.features h2{
  color:var(--primary-color);
}


.pricing h2{
  margin: 70px;
  text-align: center;
  color:var(--tertiary-color) ;

}
.cards{
  display: flex;
  justify-content: space-evenly;

}
.pricing .card{
background-color: lightgrey;
border: 1px solid transparent;
width: 100%;
max-width: 300px;
padding: 32px 18px;
border-radius: 8px;
}
.pricing .dark{
  background-color: var(--primary-color);
  color: var(--quaternary-color);
}
.dark p{
  color: var(--quaternary-color);
  margin: 10px;
}
.card p{
  margin: 10px;
}
.dark span{
  font-size: 9rem;
  color: var(--quaternary-color);
}
.card span{
  font-size: 9rem;
}
.btn-outline-primary{
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}
.btn-secondary{
  color: var(--primary-color);
}
.partners{
  display: flex;
  justify-content:space-around;
  margin:50px;
}
#contact{
  background-image: url(./images/contact-bg-image.jpg);
  color: var(--quaternary-color);
}
#contact .container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
    height: 410px;
}
footer{
  background-color: var(--primary-color);
  height: 100px;
   color: var(--quaternary-color);
  font-size: medium;
}













/* Write your code above */

h1 {
    font-size: 7.2rem;
    margin: 4.8rem 0;
    line-height: 1.1;
    color:var(--quaternary-color);
}

h2 {
    font-size: 4.5rem;
}

p, li, label {
    font-size: 1.6rem;
}
h4{
  font-size: 2.4rem;
}

.font-weight-bold {
    font-weight: 700;
}

.font-weight-light {
    font-weight: 300;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}